<header class="header">
  <!-- header top -->
  <div class="header-top">
    <div class="container">
      <div class="header-top-wrap">
        <div class="header-top-left">
          <div class="header-top-social">
            <span>Kövessen minket: </span>
            <a routerLink="/"><i class="fab fa-facebook-f"></i></a>
            <a routerLink="/"><i class="fab fa-instagram"></i></a>
            <a routerLink="/"><i class="fab fa-youtube"></i></a>
            <a routerLink="/"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
        <div class="header-top-right">
          <div class="header-top-contact">
            <ul>
              <li>
                <a
                  href="https://www.google.com/maps/place/Budapest,+Práter+u.+29%2FA,+1082/@47.4866281,19.0724688,17z/data=!3m1!4b1!4m6!3m5!1s0x4741dcf7baeec677:0xc27ae5309f65917b!8m2!3d47.4866281!4d19.0750491!16s%2Fg%2F11m6qxwjrp?entry=ttu&g_ep=EgoyMDI1MDYzMC4wIKXMDSoASAFQAw%3D%3D"
                  ><i class="far fa-location-dot"></i> 1083 Budapest, Práter
                  utca 29/A Fsz. 24. ajtó</a
                >
              </li>
              <li>
                <a href="mailto:info@felhoatlasz.hu"
                  ><i class="far fa-envelopes"></i>info&#64;felhoatlasz.hu</a
                >
              </li>
              <li>
                <a href="tel:+36301234567"
                  ><i class="far fa-phone-volume"></i> +36 30 123 4567</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-navigation">
    <nav class="navbar navbar-expand-lg">
      <div class="container position-relative">
        <a class="navbar-brand" routerLink="/">
          <img src="assets/img/logo/logo.png" alt="logo" />
        </a>
        <div class="mobile-menu-right">
          <div class="search-btn">
            <button type="button" class="nav-right-link search-box-outer">
              <i class="far fa-search"></i>
            </button>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="/main_nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-mobile-icon"
              ><i class="far fa-bars"></i
            ></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Főoldal</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                routerLink="/"
                data-bs-toggle="dropdown"
                >Szolgáltatások</a
              >
              <ul class="dropdown-menu fade-down">
                <li>
                  <a class="dropdown-item" routerLink="/szamvitel"
                    >Számviteli szolgáltatás</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/konyveles">Könyvelés</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/konyvvizsgalat"
                    >Könyvvizsgálat</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/adotanacsadas"
                    >Adótanácsadás</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/penzugyi"
                    >Pénzügyi tanácsadás</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                routerLink="/"
                data-bs-toggle="dropdown"
                >Oldalak</a
              >
              <ul class="dropdown-menu fade-down">
                <li><a class="dropdown-item" routerLink="/about">Rólunk</a></li>
                <li>
                  <a class="dropdown-item" routerLink="/carrier">Karrier</a>
                </li>
                <li><a class="dropdown-item" routerLink="/faq">GYIK</a></li>
                <li>
                  <a class="dropdown-item" routerLink="/documents"
                    >Dokumentumok</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Kapcsolat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Google űrlap link</a>
            </li>
          </ul>
          <div class="nav-right">
            <div class="search-btn">
              <button type="button" class="nav-right-link search-box-outer">
                <i class="far fa-search"></i>
              </button>
            </div>
            <div class="nav-right-btn mt-2">
              <a routerLink="/" class="theme-btn"
                ><span class="fal fa-pencil"></span>Jelentkezzen most</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- header area end -->

<!-- popup search -->
<div class="search-popup">
  <button class="close-search"><span class="far fa-times"></span></button>
  <form action="/">
    <div class="form-group">
      <input
        type="search"
        name="search-field"
        placeholder="Search Here..."
        required
      />
      <button type="submit"><i class="far fa-search"></i></button>
    </div>
  </form>
</div>
<!-- popup search end -->

<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/01.jpg)"
  >
    <div class="container">
      <h2 class="breadcrumb-title">Kapcsolat Us</h2>
      <ul class="breadcrumb-menu">
        <li><a routerLink="/">Főoldal</a></li>
        <li class="active">Kapcsolat Us</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- contact area -->
  <div class="contact-area py-120">
    <div class="container">
      <div class="contact-content">
        <div class="row">
          <div class="col-md-3">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-map-location-dot"></i>
              </div>
              <div class="contact-info-content">
                <h5>Office Address</h5>
                <p>25/B Milford, New York, USA</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-phone-volume"></i>
              </div>
              <div class="contact-info-content">
                <h5>Call Us</h5>
                <p>+2 123 4565 789</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-envelopes"></i>
              </div>
              <div class="contact-info-content">
                <h5>Email Us</h5>
                <p>info&#64;felhoatlasz.hu</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-alarm-clock"></i>
              </div>
              <div class="contact-info-content">
                <h5>Open Time</h5>
                <p>Mon - Sat (10.00AM - 05.30PM)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-wrapper">
        <div class="row">
          <div class="col-lg-5">
            <div class="contact-img">
              <img src="assets/img/contact/01.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-7 align-self-center">
            <div class="contact-form">
              <div class="contact-form-header">
                <h2>Get In Touch</h2>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page randomised words which don't
                  look even slightly when looking at its layout.
                </p>
              </div>
              <form
                method="post"
                action="/eduka/assets/php/contact.php"
                id="contact-form"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        placeholder="Your Name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        placeholder="Your Email"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    placeholder="Your Subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <textarea
                    name="message"
                    cols="30"
                    rows="5"
                    class="form-control"
                    placeholder="Write Your Message"
                  ></textarea>
                </div>
                <button type="submit" class="theme-btn">
                  Send Message <i class="far fa-paper-plane"></i>
                </button>
                <div class="col-md-12 mt-3">
                  <div class="form-messege text-success"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end contact area -->

  <!-- map -->
  <div class="contact-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96708.34194156103!2d-74.03927096447748!3d40.759040329405195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a01c8df6fb3cb8!2sSolomon%20R.%20Guggenheim%20Museum!5e0!3m2!1sen!2sbd!4v1619410634508!5m2!1sen!2s"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</main>

<!-- footer area -->
<footer class="footer-area">
  <div class="footer-shape">
    <img src="assets/img/shape/03.png" alt="" />
  </div>
  <div class="footer-widget">
    <div class="container">
      <div class="row footer-widget-wrapper pt-100 pb-70">
        <div class="col-md-6 col-lg-4">
          <div class="footer-widget-box about-us">
            <a routerLink="/" class="footer-logo">
              <img src="assets/img/logo/logo-light.png" alt="" />
            </a>
            <p class="mb-3">
              We are many variations of passages available but the majority have
              suffered alteration in some form by injected humour words
              believable.
            </p>
            <ul class="footer-contact">
              <li>
                <a href="tel:+36301234567"
                  ><i class="far fa-phone"></i>+36 30 123 4567</a
                >
              </li>
              <li>
                <i class="far fa-map-marker-alt"></i>1083 Budapest, Práter utca
                29/A Fsz. 24. ajtó
              </li>
              <li>
                <a href="mailto:info@felhoatlasz.hu"
                  ><i class="far fa-envelope"></i>info&#64;felhoatlasz.hu</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Quick Links</h4>
            <ul class="footer-list">
              <li>
                <a routerLink="/"><i class="fas fa-caret-right"></i> Rólunk</a>
              </li>
              <li>
                <a routerLink="/"><i class="fas fa-caret-right"></i> FAQ's</a>
              </li>
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Testimonials</a
                >
              </li>
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Terms Of Service</a
                >
              </li>
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Privacy policy</a
                >
              </li>
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Update News</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Our Campus</h4>
            <ul class="footer-list">
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Campus Safety</a
                >
              </li>
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Student Activities</a
                >
              </li>
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Academic Department</a
                >
              </li>
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Planning &
                  Administration</a
                >
              </li>
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Office Of The
                  Chancellor</a
                >
              </li>
              <li>
                <a routerLink="/"
                  ><i class="fas fa-caret-right"></i> Facility Services</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Newsletter</h4>
            <div class="footer-newsletter">
              <p>Subscribe Our Newsletter To Get Latest Update And News</p>
              <div class="subscribe-form">
                <form action="/">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Your Email"
                  />
                  <button class="theme-btn" type="submit">
                    Subscribe Now <i class="far fa-paper-plane"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="copyright-wrapper">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <p class="copyright-text">
              &copy; Copyright <span id="date"></span>
              <a routerLink="/"> Felhőatlasz </a> All Rights Reserved.
            </p>
          </div>
          <div class="col-md-6 align-self-center">
            <ul class="footer-social">
              <li>
                <a routerLink="/"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a routerLink="/"><i class="fab fa-whatsapp"></i></a>
              </li>
              <li>
                <a routerLink="/"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a routerLink="/"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer area end -->

<!-- scroll-top -->
<a routerLink="/" id="scroll-top"><i class="far fa-arrow-up-from-arc"></i></a>
<!-- scroll-top end -->
