<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/contact.jpg)"
  >
    <div class="container">
      <ul class="breadcrumb-menu">
        <li>
          <a (click)="gotoTop()" routerLink="/">Főoldal</a>
        </li>
        <li class="active">Kapcsolat</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- contact area -->
  <div class="contact-area py-120">
    <div class="container">
      <div class="contact-content">
        <div class="row">
          <div class="col-md-4">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-map-location-dot"></i>
              </div>
              <div class="contact-info-content">
                <h5>Irodánk címe</h5>
                <p>1083 Budapest, Práter utca 29</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-phone-volume"></i>
              </div>
              <div class="contact-info-content">
                <h5>Hívjon</h5>
                <p>+36 20 391 3398</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-envelopes"></i>
              </div>
              <div class="contact-info-content">
                <h5>Küldjön e-mailt</h5>
                <p>info&#64;felhoatlasz.hu</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-wrapper">
        <div class="row">
          <div class="col-lg-5">
            <div class="contact-img">
              <img src="assets/img/contact/01.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-7 align-self-center">
            <div class="contact-form">
              <div class="contact-form-header">
                <h2>Vegye fel velünk a kapcsolatot</h2>
                <p>
                  Elakadt a könyvelési útvesztőben, vagy egyszerűen csak
                  megbízható és modern partnerre vágyik, aki leveszi a pénzügyek
                  terhét a válláról? Ne habozzon felvenni velünk a kapcsolatot!
                </p>
              </div>
              <form
                [formGroup]="contactForm"
                (ngSubmit)="sendEmail()"
                id="contact-form"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <p-floatlabel>
                        <input
                          pInputText
                          type="text"
                          name="name"
                          formControlName="name"
                          required
                        />
                        <label for="name">Név *</label>
                      </p-floatlabel>
                      @if ((name.invalid && name.hasError('required') &&
                      (name.dirty || name.touched)) || (formClicked &&
                      (name.untouched || name.pristine)) ) {
                      <p-message severity="error" variant="simple" size="small"
                        >A név mező kötelező!</p-message
                      >
                      }
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <p-floatlabel>
                        <input
                          pInputText
                          type="email"
                          formControlName="email"
                          required
                          name="email"
                          required
                        />
                        <label for="email">E-mail cím *</label>
                      </p-floatlabel>
                      @if ((email.invalid && email.hasError('required') &&
                      (email.dirty || email.touched)) || (formClicked &&
                      (email.untouched || email.pristine)) ) {
                      <p-message severity="error" variant="simple" size="small"
                        >A e-mail mező kötelező!</p-message
                      >
                      }
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <p-floatlabel class="mt-3">
                        <textarea
                          pTextarea
                          name="message"
                          formControlName="message"
                          cols="30"
                          rows="5"
                        ></textarea>
                        <label for="message">Üzenet *</label>
                      </p-floatlabel>
                      @if ((message.invalid && message.hasError('required') &&
                      (message.dirty || message.touched)) || (formClicked &&
                      (message.untouched || message.pristine)) ) {
                      <p-message severity="error" variant="simple" size="small"
                        >Az üzenet mező kötelező!</p-message
                      >
                      }
                    </div>
                  </div>
                </div>

                <button
                  type="submit"
                  class="theme-btn"
                  [disabled]="contactForm.invalid || formClicked"
                >
                  Küldés <i class="far fa-paper-plane"></i>
                </button>
                <div class="col-md-12 mt-3">
                  <div class="form-messege text-success"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end contact area -->

  <!-- map -->
  <div class="contact-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.1686360269423!2d19.075049099999998!3d47.4866281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dcf7baeec677%3A0xc27ae5309f65917b!2sBudapest%2C%20Pr%C3%A1ter%20u.%2029%2FA%2C%201082!5e0!3m2!1sen!2shu!4v1751889866329!5m2!1sen!2shu"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</main>

<p-dialog
  header="Sikeres kapcsolat felvétel"
  [modal]="true"
  [(visible)]="showDialog"
  [style]="{ width: '25rem' }"
>
  <p>
    Köszönjük, hogy felvette velünk a kapcsolatot, munkatársunk hamarosan
    megkeresi önt!
  </p>
  <div class="flex justify-end gap-2">
    <p-button label="Bezárás" (click)="showDialog = false" />
  </div>
</p-dialog>
