<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/konyveles.jpg)"
  >
    <div class="container">
      <ul class="breadcrumb-menu">
        <li><a routerLink="/">Főoldal</a></li>
        <li class="active">Könyvelés</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- course-area -->
  <div class="course-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline"
              ><i class="far fa-book-open-reader"></i> Könyvelői
              szolgáltatások</span
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Főkönyvi könyvelés</span
              >
              <img src="assets/img/course/01.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Főkönyvi könyvelés</h4>
              <p>
                Precízen rögzítjük és rendszerezzük cége összes gazdasági
                eseményét, biztosítva a naprakész és átlátható pénzügyi
                nyilvántartást.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Adóbevallás</span
              >
              <img src="assets/img/course/03.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">
                Adóbevallások elkészítése és benyújtása
              </h4>
              <p>
                Elkészítjük és határidőre benyújtjuk az összes szükséges
                adóbevallást (ÁFA, társasági adó, iparűzési adó stb.),
                garantálva a jogszabályi megfelelőséget.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Bérszámfejtés</span
              >
              <img src="assets/img/course/04.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Bérszámfejtés</h4>
              <p>
                Szakszerűen elvégezzük a teljes bérszámfejtési folyamatot,
                beleértve a bérek, járulékok és levonások kezelését, valamint a
                kapcsolódó bevallások elkészítését.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".50s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Adótanácsadás</span
              >
              <img src="assets/img/course/05.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Adótanácsadás</h4>
              <p>
                Személyre szabott adótanácsadással segítjük a törvényes
                adóoptimalizálást, minimalizálva az adóterheket és kihasználva a
                rendelkezésre álló kedvezményeket.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Likviditás figyelés</span
              >
              <img src="assets/img/course/06.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">
                Pénztár- és banki likviditás figyelés
              </h4>
              <p>
                Rendszeresen könyveljük a készpénzes és banki tranzakciókat,
                biztosítva a pénzforgalom pontos nyomon követhetőségét és
                ellenőrizhetőségét.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Nyilvántartás</span
              >
              <img src="assets/img/course/06.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">
                Tárgyi eszközök nyilvántartása és értékcsökkenés elszámolása
              </h4>
              <p>
                Naprakészen vezetjük vállalkozása tárgyi eszközeinek
                nyilvántartását, és gondoskodunk az értékcsökkenés szabályos
                elszámolásáról.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Zárás</span
              >
              <img src="assets/img/course/06.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Év végi zárás és beszámoló készítése</h4>
              <p>
                Elkészítjük az éves beszámolót és az azt alátámasztó leltárakat,
                melyek a cég pénzügyi értékelésének alapját képezik.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Hatósági képviselet</span
              >
              <img src="assets/img/course/06.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Hatósági képviselet</h4>
              <p>
                Képviseljük cégét az adóhatóság (NAV) és egyéb hivatalos szervek
                előtt, segítve az esetleges ellenőrzések folyamatát.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- course-area -->
</main>
