<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/karrier.jpg)"
  >
    <div class="container">
      <ul class="breadcrumb-menu">
        <li>
          <a (click)="gotoTop()" routerLink="/">Főoldal</a>
        </li>
        <li class="active">Karrier</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- team-area -->
  <div class="team-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline"
              ><i class="far fa-book-open-reader"></i> Karrier</span
            >
            <h2 class="site-title">
              Építsük együtt a <span>jövő</span> könyvelését!
            </h2>
            <p>
              Légy része egy dinamikusan fejlődő, modern könyvelőiroda
              sikerének, ahol a szakértelem és az innováció találkozik!
            </p>
          </div>
        </div>
        <div class="carrier-section">
          <p>
            A Felhőatlasznál hiszünk abban, hogy a könyvelés több, mint egyszerű
            számok halmaza. Szolgáltatásainkkal partnereinket támogatjuk a
            gondtalan növekedésben, és ehhez elhivatott, precíz és a legújabb
            technológiák iránt nyitott szakembereket keresünk. Ha szenvedélyes
            vagy a pénzügyek iránt, és szeretnél egy olyan csapat tagja lenni,
            ahol a tudás és az emberi tényező egyaránt fontos, akkor nálunk a
            helyed.
          </p>
        </div>
        <div class="carrier-section">
          <h3 class="mb-2">Miért dolgozzon a Felhőatlasznál?</h3>
          <ul>
            <li>
              <span>Innovatív környezet</span>: Modern, felhőalapú rendszerekkel
              dolgozunk, amelyek megkönnyítik a mindennapi munkát és lehetővé
              teszik a rugalmas munkavégzést. Nálunk nem kell papírok hegyein
              dolgoznia.
            </li>
            <li>
              <span>Szakmai fejlődés</span>: Folyamatos továbbképzési
              lehetőséget és belső mentorálást biztosítunk, hogy Ön mindig
              naprakész maradhasson a legújabb jogszabályok és trendek terén.
            </li>
            <li>
              <span>Kiváló csapat</span>: Családias hangulatú, támogató és
              nyitott légkörben dolgozhat. Hiszünk a közös sikerekben, és
              aktívan támogatjuk egymást a kihívások során.
            </li>
            <li>
              <span>Értékteremtő munka</span>: A mindennapi precíz munkájával
              közvetlenül hozzájárul ügyfeleink sikeréhez és pénzügyi
              stabilitásához, ami motiváló és elégedettséget nyújtó érzés.
            </li>
            <li>
              <span>Versenyképes juttatások</span>: A kimagasló teljesítményt
              méltányoljuk, ezért versenyképes fizetési csomagot és egyéb
              juttatásokat kínálunk munkatársaink számára.
            </li>
          </ul>
        </div>
        <div class="carrier-section">
          <h3>Jelenlegi nyitott pozícióink</h3>
          <!--<p class="mb-2">
            Jelenleg az alábbi pozíciókra keresünk új kollégákat:
          </p>-->

          <p class="mb-2">Jelenleg nincs nyitott pozíciónk.</p>

          <!--<h4>Könyvelő/Junior Könyvelő</h4>
          <ul>
            <li>
              <span>Feladatok:</span>
              <ul>
                <li>Vállalkozások teljes körű könyvelése.</li>
                <li>Adóbevallások és beszámolók elkészítése.</li>
                <li>Kapcsolattartás az ügyfelekkel és a hatóságokkal.</li>
                <li>Pénzügyi adatok rögzítése és ellenőrzése.</li>
              </ul>
            </li>
            <li>
              <span>Elvárások:</span>
              <ul>
                <li>Szakirányú végzettség (pénzügyi, számviteli).</li>
                <li>Naprakész adó- és jogszabályi ismeretek.</li>
                <li>Precíz, felelősségteljes munkavégzés.</li>
                <li>Jó kommunikációs készség.</li>
              </ul>
            </li>
            <li>
              <span>Amit kínálunk:</span>
              <ul>
                <li>Rugalmas, modern munkakörnyezet.</li>
                <li>Szakmai fejlődési lehetőség.</li>
                <li>Versenyképes fizetés.</li>
                <li>Stabil, hosszú távú munkalehetőség.</li>
              </ul>
            </li>
          </ul>-->
        </div>
        <!--<div class="carrier-section">
          <h3>Jelentkezés</h3>
          <p>
            Ha felkeltettük érdeklődését és szeretne csapatunk tagja lenni,
            kérjük, küldje el fényképes önéletrajzát és motivációs levelét a
            <a href="info@felhoatlasz.hu címre">info&#64;felhoatlasz.hu címre</a
            >. A tárgyba kérjük, írja be: „Jelentkezés – [pozíció megnevezése]”.
          </p>
          <p>
            Bízunk benne, hogy hamarosan üdvözölhetjük Önt a Felhőatlasz
            csapatában!
          </p>
        </div>-->
      </div>
    </div>
  </div>
  <!-- team-area end -->
</main>
