<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/konyvvizsgalat.jpg)"
  >
    <div class="container">
      <ul class="breadcrumb-menu">
        <li><a routerLink="/">Főoldal</a></li>
        <li class="active">Könyvvizsgálat</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- course-area -->
  <div class="course-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline"
              ><i class="far fa-book-open-reader"></i> Könyvvizsgálati
              szolgáltatások</span
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Független</span
              >
              <img src="assets/img/course/01.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Független könyvvizsgálat</h4>
              <p>
                Átfogó és független könyvvizsgálattal ellenőrizzük pénzügyi
                kimutatásait, biztosítva azok megbízhatóságát és a
                jogszabályoknak való megfelelését.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".50s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Átalakulások</span
              >
              <img src="assets/img/course/02.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Átalakulások könyvvizsgálata</h4>
              <p>
                Könyvvizsgálói véleményt adunk cégek átalakulásai (pl.
                egyesülés, szétválás) során készített vagyonmérlegeihez és
                vagyonleltáraihoz.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Tőkeemelés</span
              >
              <img src="assets/img/course/03.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">
                Tőkeemelés vagy -leszállítás könyvvizsgálata
              </h4>
              <p>
                Vizsgáljuk a tőkeemelések és -leszállítások dokumentumait és
                jogszabályi megfelelőségét, hitelesítve a változásokat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Pályázatok</span
              >
              <img src="assets/img/course/04.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">
                Pályázatok és támogatások könyvvizsgálata
              </h4>
              <p>
                Ellenőrizzük a pályázati elszámolások és a felhasznált
                támogatások pénzügyi szabályszerűségét.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".50s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Belső kontrollrendszer</span
              >
              <img src="assets/img/course/05.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Belső kontrollrendszer vizsgálata</h4>
              <p>
                Felmérjük és értékeljük cége belső kontrollrendszerét,
                javaslatot téve a gyenge pontok megerősítésére.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Speciális</span
              >
              <img src="assets/img/course/06.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Speciális célú vizsgálatok</h4>
              <p>
                Egyedi igényekre szabott, célzott vizsgálatokat végzünk, például
                csalásfelderítés vagy speciális tranzakciók ellenőrzése
                céljából.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- course-area -->
</main>
