<main class="main">
  <!-- hero slider -->
  <div class="hero-section">
    <owl-carousel-o class="hero-slider" [options]="heroSliderOptions">
      <ng-template carouselSlide>
        <div
          class="hero-single"
          style="background: url(assets/img/slider/slider-1.jpg)"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-12 col-lg-7">
                <div class="hero-content">
                  <h6
                    class="hero-sub-title"
                    data-animation="fadeInDown"
                    data-delay=".25s"
                  >
                    <i class="far fa-book-open-reader"></i>Üdvözöljük a
                    Felhőatlasznál!
                  </h6>
                  <h1
                    class="hero-title"
                    data-animation="fadeInRight"
                    data-delay=".50s"
                  >
                    A számvitel jövője a <span>felhőben.</span>
                  </h1>
                  <p data-animation="fadeInLeft" data-delay=".75s">
                    Fedezze fel a könyvelés új dimenzióját – nálunk a
                    szakértelem, az átláthatóság és a technológia kéz a kézben
                    jár.
                  </p>
                  <div
                    class="hero-btn"
                    data-animation="fadeInUp"
                    data-delay="1s"
                  >
                    <a routerLink="/about" class="theme-btn"
                      >Rólunk<i class="fas fa-arrow-right-long"></i
                    ></a>
                    <a routerLink="/contact" class="theme-btn theme-btn2"
                      >Kapcsolat<i class="fas fa-arrow-right-long"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div
          class="hero-single"
          style="background: url(assets/img/slider/slider-2.jpg)"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-12 col-lg-7">
                <div class="hero-content">
                  <h6
                    class="hero-sub-title"
                    data-animation="fadeInDown"
                    data-delay=".25s"
                  >
                    <i class="far fa-book-open-reader"></i>Üdvözöljük a
                    Felhőatlasznál!
                  </h6>
                  <h1
                    class="hero-title"
                    data-animation="fadeInRight"
                    data-delay=".50s"
                  >
                    A számvitel jövője a <span>felhőben.</span>
                  </h1>
                  <p data-animation="fadeInLeft" data-delay=".75s">
                    Fedezze fel a könyvelés új dimenzióját – nálunk a
                    szakértelem, az átláthatóság és a technológia kéz a kézben
                    jár.
                  </p>
                  <div
                    class="hero-btn"
                    data-animation="fadeInUp"
                    data-delay="1s"
                  >
                    <a routerLink="/about" class="theme-btn"
                      >Rólunk<i class="fas fa-arrow-right-long"></i
                    ></a>
                    <a routerLink="/contact" class="theme-btn theme-btn2"
                      >Kapcsolat<i class="fas fa-arrow-right-long"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div
          class="hero-single"
          style="background: url(assets/img/slider/slider-3.jpg)"
        >
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-12 col-lg-7">
                <div class="hero-content">
                  <h6
                    class="hero-sub-title"
                    data-animation="fadeInDown"
                    data-delay=".25s"
                  >
                    <i class="far fa-book-open-reader"></i>Üdvözöljük a
                    Felhőatlasznál!
                  </h6>
                  <h1
                    class="hero-title"
                    data-animation="fadeInRight"
                    data-delay=".50s"
                  >
                    A számvitel jövője a <span>felhőben.</span>
                  </h1>
                  <p data-animation="fadeInLeft" data-delay=".75s">
                    Fedezze fel a könyvelés új dimenzióját – nálunk a
                    szakértelem, az átláthatóság és a technológia kéz a kézben
                    jár.
                  </p>
                  <div
                    class="hero-btn"
                    data-animation="fadeInUp"
                    data-delay="1s"
                  >
                    <a routerLink="/about" class="theme-btn"
                      >Rólunk<i class="fas fa-arrow-right-long"></i
                    ></a>
                    <a routerLink="/contact" class="theme-btn theme-btn2"
                      >Kapcsolat<i class="fas fa-arrow-right-long"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- hero slider end -->

  <!-- feature area -->
  <div class="feature-area fa-negative">
    <div class="col-xl-9 ms-auto">
      <div class="feature-wrapper">
        <div class="row g-4">
          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <span class="count">01</span>
              <div class="feature-icon">
                <img src="assets/img/icon/human.svg" alt="" />
              </div>
              <div class="feature-content">
                <h4 class="feature-title">Megbízhatóság</h4>
                <p>Az Ön számai jó kezekben vannak.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <span class="count">02</span>
              <div class="feature-icon">
                <img src="assets/img/icon/global-education.svg" alt="" />
              </div>
              <div class="feature-content">
                <h4 class="feature-title">Szakértelem</h4>
                <p>Naprakész tudás minden pénzügyi döntéshez.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <span class="count">03</span>
              <div class="feature-icon">
                <img src="assets/img/icon/open-book.svg" alt="" />
              </div>
              <div class="feature-content">
                <h4 class="feature-title">Átláthatóság</h4>
                <p>Nincsenek rejtett sorok – csak tiszta számok.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="feature-item">
              <span class="count">04</span>
              <div class="feature-icon">
                <img src="assets/img/icon/mail.svg" alt="" />
              </div>
              <div class="feature-content">
                <h4 class="feature-title">Elérhetőség</h4>
                <p>Nemcsak könyvelünk, hanem ott vagyunk, amikor számít.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- feature area end -->

  <!-- about area -->
  <div class="about-area py-120">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-lg-6">
          <div class="about-left wow fadeInLeft" data-wow-delay=".25s">
            <div class="about-img">
              <div class="row g-4">
                <div class="col-md-6">
                  <img class="img-1" src="assets/img/about/01.jpg" alt="" />
                  <div class="about-experience mt-4">
                    <div class="about-experience-icon">
                      <img src="assets/img/icon/exchange-idea.svg" alt="" />
                    </div>
                    <b class="text-start">Minőségi szolgáltatások</b>
                  </div>
                </div>
                <div class="col-md-6">
                  <img class="img-2" src="assets/img/about/02.png" alt="" />
                  <img
                    class="img-3 mt-4"
                    src="assets/img/about/03.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-right wow fadeInRight" data-wow-delay=".25s">
            <div class="site-heading mb-3">
              <span class="site-title-tagline"
                ><i class="far fa-book-open-reader"></i> Rólunk</span
              >
              <h2 class="site-title">
                Felhő Atlasz – <span>Iránytű</span> a pénzügyeidhez.
              </h2>
            </div>
            <p class="about-text">
              Folyamatosan változó világban stabil pontot nyújtunk: átlátható
              könyvelés, naprakész tudás és valódi figyelem minden ügyfelünknek.
              Velünk a pénzügyek nem terhek, hanem lehetőségek.
            </p>
            <div class="about-content">
              <div class="row">
                <div class="col-md-7">
                  <div class="about-item">
                    <div class="about-item-icon">
                      <img src="assets/img/icon/open-book.svg" alt="" />
                    </div>
                    <div class="about-item-content">
                      <h5>Számviteli szolgáltatás</h5>
                      <p>
                        Könyvvezetés, beszámolók összeállítása, pénzügyi
                        kimutatások készítése.
                      </p>
                    </div>
                  </div>
                  <div class="about-item">
                    <div class="about-item-icon">
                      <img src="assets/img/icon/information.svg" alt="" />
                    </div>
                    <div class="about-item-content">
                      <h5>Adótanácsadás</h5>
                      <p>
                        Adózással kapcsolatos tanácsadás, optimalizálás,
                        adóbevallások készítése és képviselet az adóhatóság
                        előtt.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="about-quote">
                    <p>
                      A Felhő Atlasznál végre úgy érzem, hogy nem csak
                      könyvelnek, hanem tényleg értik és figyelik a
                      vállalkozásom.
                    </p>
                    <i class="far fa-quote-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-bottom">
              <a routerLink="/about" class="theme-btn"
                >Tudjon meg többet<i class="fas fa-arrow-right-long"></i
              ></a>
              <div class="about-phone">
                <div class="icon"><i class="fal fa-headset"></i></div>
                <div class="number">
                  <span>Hívjon</span>
                  <h6><a href="tel:+36301234567">+36 30 123 4567</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about area end -->

  <!-- counter area -->
  <div class="counter-area pt-60 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon">
              <img src="assets/img/icon/money.svg" alt="" />
            </div>
            <div>
              <span
                class="counter"
                data-count="+"
                data-to="500"
                data-speed="3000"
                >12</span
              >
              <h6 class="title">+ Sikeres Cégalapítás</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon">
              <img src="assets/img/icon/call.svg" alt="" />
            </div>
            <div>
              <span
                class="counter"
                data-count="+"
                data-to="26"
                data-speed="3000"
                >26</span
              >
              <h6 class="title">+ Aktív ügyfél</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon">
              <img src="assets/img/icon/human.svg" alt="" />
            </div>
            <div>
              <span
                class="counter"
                data-count="+"
                data-to="100"
                data-speed="3000"
                >100</span
              >
              <h6 class="title">% Ügyfél elégedetsség</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box">
            <div class="icon">
              <img src="assets/img/icon/online-course.svg" alt="" />
            </div>
            <div>
              <span
                class="counter"
                data-count="+"
                data-to="100"
                data-speed="3000"
                >100</span
              >
              <h6 class="title">% Digitális működés</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- counter area end -->

  <!-- course-area -->
  <div class="course-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline"
              ><i class="far fa-book-open-reader"></i> Szolgáltatásaink</span
            >
            <h2 class="site-title">
              Nézzük meg <span>Szolgáltatásainakt</span>
            </h2>
            <p>
              Minden szolgáltatásunk egy célt szolgál: hogy vállalkozásod
              pénzügyileg átlátható, stabil és fejlődésre kész legyen.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Számvitel</span
              >
              <img src="assets/img/course/01.jpg" alt="" />
              <a routerLink="/szamvitel" class="btn"
                ><i class="far fa-link"></i
              ></a>
            </div>
            <div class="course-content">
              <div class="course-meta">
                <div class="course-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <span>(4.0)</span>
                </div>
              </div>
              <p class="course-text">
                A múlt számai segítenek megérteni a jövőt – mi rendet teszünk
                bennük.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".50s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Könyvelés</span
              >
              <img src="assets/img/course/02.jpg" alt="" />
              <a routerLink="/konyveles" class="btn"
                ><i class="far fa-link"></i
              ></a>
            </div>
            <div class="course-content">
              <div class="course-meta">
                <div class="course-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <span>(4.0)</span>
                </div>
              </div>
              <p class="course-text">
                Pontosság, amelyre bátran építheted a vállalkozásod alapjait.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Könyvvizsgálat</span
              >
              <img src="assets/img/course/03.jpg" alt="" />
              <a routerLink="/konyvvizsgalat" class="btn"
                ><i class="far fa-link"></i
              ></a>
            </div>
            <div class="course-content">
              <div class="course-meta">
                <div class="course-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <span>(4.0)</span>
                </div>
              </div>
              <p class="course-text">
                Független és alapos ellenőrzés a pénzügyi átláthatóságért.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Adótanácsadás</span
              >
              <img src="assets/img/course/04.jpg" alt="" />
              <a routerLink="/adotanacsadas" class="btn"
                ><i class="far fa-link"></i
              ></a>
            </div>
            <div class="course-content">
              <div class="course-meta">
                <div class="course-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <span>(4.0)</span>
                </div>
              </div>
              <p class="course-text">
                Okos megoldásokkal segítünk, hogy kevesebbet fizess, ne többet.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".50s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Pénzügyek</span
              >
              <img src="assets/img/course/05.jpg" alt="" />
              <a routerLink="/penzugyi" class="btn"
                ><i class="far fa-link"></i
              ></a>
            </div>
            <div class="course-content">
              <div class="course-meta">
                <div class="course-rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <span>(4.0)</span>
                </div>
              </div>
              <p class="course-text">
                Segítünk átlátni, tervezni és irányítani a vállalkozás
                pénzügyeit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- course-area -->

  <!-- team-area -->
  <!--<div class="team-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline"
              ><i class="far fa-book-open-reader"></i> Our Teachers</span
            >
            <h2 class="site-title">Meet With Our <span>Teachers</span></h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="team-item wow fadeInUp" data-wow-delay=".25s">
            <div class="team-img">
              <img src="assets/img/team/01.jpg" alt="thumb" />
            </div>
            <div class="team-social">
              <a routerLink="/"><i class="fab fa-facebook-f"></i></a>
              <a routerLink="/"><i class="fab fa-whatsapp"></i></a>
              <a routerLink="/"><i class="fab fa-linkedin-in"></i></a>
              <a routerLink="/"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="team-content">
              <div class="team-bio">
                <h5><a href="teacher-single.html">Angela T. Vigil</a></h5>
                <span>Associate Professor</span>
              </div>
            </div>
            <span class="team-social-btn"
              ><i class="far fa-share-nodes"></i
            ></span>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="team-item wow fadeInUp" data-wow-delay=".50s">
            <div class="team-img">
              <img src="assets/img/team/02.jpg" alt="thumb" />
            </div>
            <div class="team-social">
              <a routerLink="/"><i class="fab fa-facebook-f"></i></a>
              <a routerLink="/"><i class="fab fa-whatsapp"></i></a>
              <a routerLink="/"><i class="fab fa-linkedin-in"></i></a>
              <a routerLink="/"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="team-content">
              <div class="team-bio">
                <h5><a href="teacher-single.html">Frank A. Mitchell</a></h5>
                <span>Associate Professor</span>
              </div>
            </div>
            <span class="team-social-btn"
              ><i class="far fa-share-nodes"></i
            ></span>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="team-item wow fadeInUp" data-wow-delay=".75s">
            <div class="team-img">
              <img src="assets/img/team/03.jpg" alt="thumb" />
            </div>
            <div class="team-social">
              <a routerLink="/"><i class="fab fa-facebook-f"></i></a>
              <a routerLink="/"><i class="fab fa-whatsapp"></i></a>
              <a routerLink="/"><i class="fab fa-linkedin-in"></i></a>
              <a routerLink="/"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="team-content">
              <div class="team-bio">
                <h5><a href="teacher-single.html">Susan D. Lunsford</a></h5>
                <span>CEO & Founder</span>
              </div>
            </div>
            <span class="team-social-btn"
              ><i class="far fa-share-nodes"></i
            ></span>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="team-item wow fadeInUp" data-wow-delay="1s">
            <div class="team-img">
              <img src="assets/img/team/04.jpg" alt="thumb" />
            </div>
            <div class="team-social">
              <a routerLink="/"><i class="fab fa-facebook-f"></i></a>
              <a routerLink="/"><i class="fab fa-whatsapp"></i></a>
              <a routerLink="/"><i class="fab fa-linkedin-in"></i></a>
              <a routerLink="/"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="team-content">
              <div class="team-bio">
                <h5><a href="teacher-single.html">Dennis A. Pruitt</a></h5>
                <span>Associate Professor</span>
              </div>
            </div>
            <span class="team-social-btn"
              ><i class="far fa-share-nodes"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!-- team-area end -->

  <!-- choose-area -->
  <div class="choose-area pt-80 pb-80">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="choose-content wow fadeInUp" data-wow-delay=".25s">
            <div class="choose-content-info">
              <div class="site-heading mb-0">
                <span class="site-title-tagline"
                  ><i class="far fa-book-open-reader"></i> Miért válasszon
                  minket</span
                >
                <h2 class="site-title text-white mb-10">
                  Profik vagyunk a könyvelés terén & a
                  <span>legjobb</span> tudásunk szerint segítünk elérni az ön
                  céljait
                </h2>
              </div>
              <div class="choose-content-wrap">
                <div class="row g-4">
                  <div class="col-md-6">
                    <div class="choose-item">
                      <div class="choose-item-icon">
                        <img src="assets/img/icon/teacher-2.svg" alt="" />
                      </div>
                      <div class="choose-item-info">
                        <h4>Szakértő munkatársak</h4>
                        <p>Pénzügyei biztos kezekben szakértő csapatunkkal.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="choose-item">
                      <div class="choose-item-icon">
                        <img src="assets/img/icon/course-material.svg" alt="" />
                      </div>
                      <div class="choose-item-info">
                        <h4>Széles körű szolgáltatások</h4>
                        <p>
                          A könyveléstől a bérszámfejtésig, minden pénzügyi
                          igényére átfogó megoldást kínálunk.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="choose-item">
                      <div class="choose-item-icon">
                        <img src="assets/img/icon/online-course.svg" alt="" />
                      </div>
                      <div class="choose-item-info">
                        <h4>Online Szolgáltatások</h4>
                        <p>
                          Online szolgáltatásainkkal kényelmesen és
                          biztonságosan intézheti pénzügyeit, bárhonnan.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="choose-item">
                      <div class="choose-item-icon">
                        <img src="assets/img/icon/money.svg" alt="" />
                      </div>
                      <div class="choose-item-info">
                        <h4>Megfizethető árak</h4>
                        <p>
                          Prémium könyvelési szolgáltatásainkat versenyképes,
                          átlátható áron kínáljuk.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="choose-img wow fadeInRight" data-wow-delay=".25s">
            <img src="assets/img/choose/01.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- choose-area end -->

  <!-- contact area -->
  <div class="contact-area py-120">
    <div class="container">
      <div class="contact-content">
        <div class="row">
          <div class="col-md-4">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-map-location-dot"></i>
              </div>
              <div class="contact-info-content">
                <h5>Irodánk címe</h5>
                <p>1083 Budapest, Práter utca 29</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-phone-volume"></i>
              </div>
              <div class="contact-info-content">
                <h5>Hívjon</h5>
                <p>+36 30 123 4567</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-info">
              <div class="contact-info-icon">
                <i class="fal fa-envelopes"></i>
              </div>
              <div class="contact-info-content">
                <h5>Küldjön e-mailt</h5>
                <p>info&#64;felhoatlasz.hu</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-wrapper">
        <div class="row">
          <div class="col-lg-5">
            <div class="contact-img">
              <img src="assets/img/contact/01.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-7 align-self-center">
            <div class="contact-form">
              <div class="contact-form-header">
                <h2>Üzleti kapcsolat - ajánlatkérés</h2>
                <p>
                  Készen áll arra, hogy vállalkozása új lendületet vegyen? Akár
                  konkrét projekttel, akár egyedi igényekkel keres meg minket,
                  forduljon hozzánk bizalommal!
                </p>
              </div>
              <form
                [formGroup]="contactForm"
                (ngSubmit)="sendEmail()"
                id="contact-form"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        formControlName="name"
                        placeholder="Az ön neve"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                        name="email"
                        placeholder="Az ön e-mail címe"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="tel"
                        class="form-control"
                        formControlName="tel"
                        name="tel"
                        placeholder="Az ön telefon száma"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="tax_num"
                        name="tax"
                        placeholder="Az ön adószáma"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <p>Első kérdés amire válaszol a felhasználó?</p>
                  <textarea
                    name="answer1"
                    formControlName="answer1"
                    cols="30"
                    rows="5"
                    class="form-control"
                    placeholder="Válasz 1."
                  ></textarea>
                </div>
                <button
                  type="submit"
                  class="theme-btn"
                  [disabled]="contactForm.invalid"
                >
                  Küldés <i class="far fa-paper-plane"></i>
                </button>
                <div class="col-md-12 mt-3">
                  <div class="form-messege text-success"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end contact area -->

  <!-- gallery-area -->
  <!--<div class="gallery-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline"
              ><i class="far fa-book-open-reader"></i> Galéria</span
            >
            <h2 class="site-title">FElhőatlasz <span>Galéria</span></h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
          </div>
        </div>
      </div>
      <div class="row popup-gallery">
        <div class="col-md-4 wow fadeInUp" data-wow-delay=".25s">
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/01.jpg" alt="" />
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/01.jpg"
                ><i class="fal fa-plus"></i
              ></a>
            </div>
          </div>
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/02.jpg" alt="" />
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/02.jpg"
                ><i class="fal fa-plus"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-delay=".50s">
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/03.jpg" alt="" />
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/03.jpg"
                ><i class="fal fa-plus"></i
              ></a>
            </div>
          </div>
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/04.jpg" alt="" />
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/04.jpg"
                ><i class="fal fa-plus"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeInUp" data-wow-delay=".75s">
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/05.jpg" alt="" />
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/05.jpg"
                ><i class="fal fa-plus"></i
              ></a>
            </div>
          </div>
          <div class="gallery-item">
            <div class="gallery-img">
              <img src="assets/img/gallery/06.jpg" alt="" />
            </div>
            <div class="gallery-content">
              <a class="popup-img gallery-link" href="assets/img/gallery/06.jpg"
                ><i class="fal fa-plus"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!-- gallery-area end -->
</main>
