<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/szamvitel.jpg)"
  >
    <div class="container">
      <ul class="breadcrumb-menu">
        <li>
          <a (click)="gotoTop()" routerLink="/">Főoldal</a>
        </li>
        <li class="active">Számvitel</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- course-area -->
  <div class="course-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline"> Számviteli szolgáltatások</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Könyvelés</span
              >
              <img src="assets/img/course/01.jpg" alt="" />
            </div>
            <div class="course-content mt-2">
              <h4 class="course-title">Könyvvezetés</h4>
              <ul>
                <li>
                  Gazdasági események szabályszerű rögzítése a számviteli
                  nyilvántartásokban
                </li>
                <li>Időszaki zárások, főkönyvi kivonatok, kartonok vezetése</li>
                <li>
                  Nyilvántartások jogszabályi megfelelőségének biztosítása
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".50s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Beszámoló</span
              >
              <img src="assets/img/course/02.jpg" alt="" />
            </div>
            <div class="course-content mt-2">
              <h4 class="course-title">Beszámoló készítés</h4>
              <ul>
                <li>
                  Éves, egyszerűsített éves, vagy mikrovállalkozói beszámolók
                  összeállítása
                </li>
                <li>
                  Mérleg, eredménykimutatás, kiegészítő melléklet elkészítése
                </li>
                <li>Cash-flow kimutatás, üzleti jelentés igény szerint</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Riportálás</span
              >
              <img src="assets/img/course/03.jpg" alt="" />
            </div>
            <div class="course-content mt-2">
              <h4 class="course-title">
                Folyamatos adatszolgáltatás és riportálás
              </h4>
              <ul>
                <li>
                  Vállalatirányítási döntések támogatása havi, negyedéves
                  riportokkal
                </li>
                <li>Költségek, bevételek, eredmények elemzése</li>
                <li>Különböző kimutatások készítése</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Szabályzatok</span
              >
              <img src="assets/img/course/04.jpg" alt="" />
            </div>
            <div class="course-content mt-2">
              <h4 class="course-title">
                Szabályzatok elkészítése, karbantartása
              </h4>
              <ul>
                <li>Számviteli politika kialakítása</li>
                <li>Eszközök és források értékelési szabályzata</li>
                <li>Leltározási és selejtezési szabályzat</li>
                <li>Pénzkezelési szabályzat, bizonylati rend</li>
                <li>Transzferár nyilvántartás</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".50s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Képviselet</span
              >
              <img src="assets/img/course/05.jpg" alt="" />
            </div>
            <div class="course-content mt-2">
              <h4 class="course-title">
                Hatósági ellenőrzésekre való felkészítés, képviselet
              </h4>
              <ul>
                <li>
                  NAV, önkormányzat, KSH, vagy más hatóság előtti szakmai
                  képviselet
                </li>
                <li>Dokumentumok összeállítása ellenőrzéshez</li>
                <li>Tanácsadás az eljárások során</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Tanácsadás</span
              >
              <img src="assets/img/course/06.jpg" alt="" />
            </div>
            <div class="course-content mt-2">
              <h4 class="course-title">Egyedi számviteli tanácsadás</h4>
              <ul>
                <li>
                  Jogszabályértelmezés, számviteli elszámolások helyes
                  gyakorlata
                </li>
                <li>
                  Vállalkozás indítása, átalakulása, megszűnése során szükséges
                  számviteli lépések kidolgozása
                </li>
                <li>IFRS szerinti beszámolásra való átállás</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- course-area -->
</main>
