<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/adotanacsadas.jpg)"
  >
    <div class="container">
      <ul class="breadcrumb-menu">
        <li><a routerLink="/">Főoldal</a></li>
        <li class="active">Adótanácsadás</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- course-area -->
  <div class="course-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline"
              ><i class="far fa-book-open-reader"></i> Adótanácsadási
              szolgáltatások</span
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Adótervezés</span
              >
              <img src="assets/img/course/01.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Adótervezés és -optimalizálás</h4>
              <p>
                Segítünk optimalizálni cége adóterheit a hatályos jogszabályok
                keretein belül, kihasználva a rendelkezésre álló kedvezményeket
                és lehetőségeket.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> ÁFA</span
              >
              <img src="assets/img/course/04.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">ÁFA tanácsadás</h4>
              <p>
                Szakértő tanácsokkal látjuk el az ÁFA-val kapcsolatos
                kérdésekben, beleértve az ÁFA-visszatérítést és a számlázási
                szabályokat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Képviselet</span
              >
              <img src="assets/img/course/06.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Adóhatósági ellenőrzések képviselete</h4>
              <p>
                Képviseljük cégét az adóhatósági ellenőrzések során,
                felkészítjük Önt a vizsgálatra és segítünk a kommunikációban.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- course-area -->
</main>
