<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/404.jpg)"
  >
    <div class="container">
      <ul class="breadcrumb-menu">
        <li>
          <a (click)="gotoTop()" routerLink="/">Főoldal</a>
        </li>
        <li class="active">404 Error</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- error area -->
  <div class="error-area py-120">
    <div class="container">
      <div class="col-md-6 mx-auto">
        <div class="error-wrapper">
          <div class="error-img">
            <img src="assets/img/error/01.png" alt="" />
          </div>
          <h2>Az oldal nem található!</h2>
          <p>
            Az oldal amit keres nem találhatól, nem létezik vagy esetleg törölve
            lett.
          </p>
          <a
            (click)="gotoTop()"
            (click)="gotoTop()"
            routerLink="/"
            class="theme-btn"
            >Vissza a Főoldalra <i class="far fa-home"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <!-- error area end -->
</main>
