<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/penzugyek.jpg)"
  >
    <div class="container">
      <h2 class="breadcrumb-title">Pénzügy</h2>
      <ul class="breadcrumb-menu">
        <li><a routerLink="/">Főoldal</a></li>
        <li class="active">Pénzügy</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- course-area -->
  <div class="course-area py-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="site-heading text-center">
            <span class="site-title-tagline"
              ><i class="far fa-book-open-reader"></i> Pénzügyi
              szolgáltatások</span
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Cégalapítás</span
              >
              <img src="assets/img/course/01.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Cégalapítás és átalakulás</h4>
              <p>
                Végigvezetjük a cégalapítás vagy cégének átalakítási folyamatán,
                a jogi és adminisztratív teendőktől a szükséges pénzügyi
                dokumentáció előkészítéséig.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".50s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Üzleti tervezés</span
              >
              <img src="assets/img/course/02.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Üzleti tervezés és tanácsadás</h4>
              <p>
                Segítünk üzleti tervek készítésében, pénzügyi modellek
                felállításában, valamint tanácsot adunk a stratégiai döntések
                meghozatalában a pénzügyi stabilitás érdekében.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Cash-flow</span
              >
              <img src="assets/img/course/03.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Cash-flow menedzsment</h4>
              <p>
                Elemezzük és optimalizáljuk cége pénzforgalmát, biztosítva a
                likviditást és segítve a hatékony pénzeszköz-gazdálkodást.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".25s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Vagyonkezelés</span
              >
              <img src="assets/img/course/04.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Vagyonkezelési tanácsadás</h4>
              <p>
                Szakértői segítséget nyújtunk cége vagyonának hatékony
                kezelésében és gyarapításában, befektetési lehetőségek
                felkutatásával és kockázatkezeléssel.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".50s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Pénzügyi átvilágítás</span
              >
              <img src="assets/img/course/05.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Pénzügyi átvilágítás</h4>
              <p>
                Átfogó pénzügyi átvilágítást végzünk cégvásárlások vagy
                befektetések előtt, feltárva a potenciális kockázatokat és
                lehetőségeket.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="course-item wow fadeInUp" data-wow-delay=".75s">
            <div class="course-img">
              <span class="course-tag"
                ><i class="far fa-bookmark"></i> Pályázatok figyelése</span
              >
              <img src="assets/img/course/06.jpg" alt="" />
            </div>
            <div class="course-content">
              <h4 class="course-title">Támogatások és pályázatok figyelése</h4>
              <p>
                Folyamatosan figyeljük a releváns állami és uniós támogatási,
                illetve pályázati lehetőségeket, és segítünk a sikeres
                beadásban.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- course-area -->
</main>
