<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/documents.jpg)"
  >
    <div class="container">
      <ul class="breadcrumb-menu">
        <li>
          <a (click)="gotoTop()" routerLink="/">Főoldal</a>
        </li>
        <li class="active">Dokumentumok</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- document section -->
  <div class="py-120">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="document-content">
            <h3>Fontos dokumentumok</h3>
            <div>
              <a href="assets/documents/adatkezelési nyilatkozat.pdf"
                >Adatkezelési nyilatkozat</a
              >
            </div>
            <div>
              <a href="assets/documents/aszf.pdf">ÁSZF</a>
            </div>
          </div>
          <div class="document-content">
            <h3>Karrier dokumentumok</h3>
            <a href="assets/documents/karrier.pdf">Karrier lehetőség</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- document section end -->
</main>
