<main class="main">
  <!-- breadcrumb -->
  <div
    class="site-breadcrumb"
    style="background: url(assets/img/breadcrumb/documents.jpg)"
  >
    <div class="container">
      <h2 class="breadcrumb-title">Dokumentumok</h2>
      <ul class="breadcrumb-menu">
        <li><a routerLink="/">Főoldal</a></li>
        <li class="active">Dokumentumok</li>
      </ul>
    </div>
  </div>
  <!-- breadcrumb end -->

  <!-- terms of service -->
  <div class="py-120">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="terms-content">
            <h3>Fontos dokumentumok</h3>
            <a href="assets/documents/adatkezelési nyilatkozat.pdf"
              >Adatkezelési nyilatkozat</a
            >
            <a href="assets/documents/aszf.pdf">ÁSZF</a>
          </div>
          <div class="terms-content">
            <h3>Karrier dokumentumok</h3>
            <a href="assets/documents/karrier.pdf">Karrier lehetőség</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- terms of service end -->
</main>
